body{
       background-color: rgba(83, 83, 87, 0.377);
        
}

    
header{
    font-family: 'Averia Libre', cursive;
    background: white;
    border-radius: 14px;
    padding: 4px;
    width: 450px;
    margin: auto;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
h2{
    font-family: 'Amiko', sans-serif; 
    padding: 15px;
}

p{
    font-family: 'Amiko', sans-serif; 
    padding: 15px;
    margin-top: -30px;

}
table{
    font-family: 'Poppins', sans-serif;
    background-color: khaki;
    border-radius: 14px;
    margin: auto;
    width: 750px;
    padding: 400x;
    
}




footer{
    font-style: italic;
    font-size: 14px;
    text-align: center;
    margin-top: 50px;
}